html{
  background-color: #ffffff;
}
form{
  margin-top:20px;
  background-color: #EBEBEB;
    display: inline-block;
     min-height: 90vh;
      width: 40%;
  box-shadow: 5px 4px 6px rgba(0,0,0,.31); 
}
.Screenshot{
	display: inline;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-top: 70px;
}

.down{
	display:block;
}

.Inputs{
  margin:70px auto 20px auto;
  width: 70%;
  padding: 10px;  
}
.InputArea{
  margin:auto 10px ;
  display:inline-block;
}
input[type=submit]{
background-color: #3a57af; 
border-radius: 5px; 
font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 10px 10px 10px 10px;
}
.InputUrl{
  margin:75px auto auto auto;

}
input[type=url]{
  width: 70%;
}
input[type=url]:focus{
  opacity:0.5;
  
}
input[type=number]:focus{
  opacity:0.5;
}